body{
    background-color: #050505f3;
    color: #ecf0f1a9;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    }
    
main{
    display: flex;
    justify-content: center;
} 

h1{
    font-size: 40px;
    margin-left: 27%;
}

.fondo{
   background-color: #202020f3;
   border-radius: 8px; 
   padding: 6% 12%;
   margin-top: 10%;
}

.Advertencia{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto{
    font-size: 18px;
}

.btn_salir, .btn_volver{
    background-color: #d31818cc;
    border: none;
    border-radius: 3px;
    padding: 20px 50px;
    color: #ecf0f1a9;
    font-size: 16px;
     margin-top: 7%;
}
.btn_salir{
    margin-right: 50px;
}
.btn_volver{
    margin-left: 20px;
}

