.black_buster{
    color: #fff;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    
}
.grid {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 20em 20em;
    padding-top: 1em;
    grid-template-areas: "foto descr"
        "similares similares";
}

.gridSimilares {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    padding: 10px;
}


.foto {
    grid-area: foto;
}

.descripcion {
    grid-area: descr;
    padding-left: 2em;
}

.similares {
    grid-area: similares;
    padding: 10px;
}

.peli {
    padding: 5px;
}

.imagen{
height: 80%;
}

.boton{
display: flex;
justify-content: center;
align-items: center;


}

.comenzar{
padding: 1em 5em;
border-radius: 10px;
background-color: #d31818cc;
border: solid 1px #d31818cc;
color: #fff;
font-size: 15px;
transition: background-color 0.3s, color 0.3s; 

}
.comenzar:hover{
    background-color: grey;
    color: #080808;
    cursor: pointer;
     
}
.gridSimilares:hover{
    cursor: pointer;
}

.menu:hover{
    cursor: pointer;
}
.fotoPelicula{
    height: auto;
    width: auto;
}

.fotoSerie{
    width: 100%;
    height: 100%;
}

.detallePeliculaOSerie{
    display: flex;
    flex-direction: row;
}



.carousel {
    background: #111111f3;
  }

  .carousel-cell {
    width: 30%;
    height: 200px;
    margin-right: 10px;
    /* background: #8C8; */
    border-radius: 5px;
  }
  
  

  .carousel-cell .carousel-cell__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

@media screen and (max-width: 640px){

    .grid {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    width: 80%;
}


.gridSimilares {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    padding: 10px;
}
}