ul
li { 
    list-style: none;
}
html, body { 

    background-color: black;
    color: aliceblue;
}
p, a{ 
    color: aliceblue; 
    text-decoration: none;
}
.banner{ 
 width: 100%;
 height: 350px;  
 border-radius: 50px;
 border: 3px solid ;
}

.contenedor { 
    display: grid;
    flex-direction: column;
    width: 65%;
    justify-content: center;
  grid-template-columns: 25% 25% 50%; 
  grid-template-rows: 20% 20% 20% 20% 10% 10% ;
  position: relative;
  left: 30%;
  
}
.campo1 { 
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
  justify-content: flex-end;
  position: relative;
  right: 20%;
}
.campo2{
    display: grid;
    grid-column: 2/2;
    grid-row: 2/3;
    height: 2%;
    position: relative;
    top: 40%;
    
    
}
.usuario {
   
   border: 2px solid white;
   border-radius: 8px;
}
.campo3 { 
    display: grid;
    justify-content: flex-end;
    grid-column: 1/2;
    grid-row: 3/4;
    position: relative;
  right: 20%;

}
.campo4{
    display: grid;
    grid-column: 2/2;
    grid-row: 3/4;
    height: 2%;
    position: relative;
    top: 25%;
    
}
.contraseña { 
    border: 2px solid white;
   border-radius: 8px;
}
.campo5 { 
    display: grid;
    grid-column: 1/2;
    grid-row: 4/4;
    width: 100%;
    height: 60%;
    position: relative;
    left: 60%;
    
}
.boton { 
    background-color: red;
    border-radius: 10px;
}
.campo6 { 
    display: grid;
    grid-column: 1/3;
    grid-row: 5/6;
    justify-content: center;
    
}
.campo7{ 
    display: grid;
    grid-column: 1/3;
    grid-row: 6/6;
    justify-content: center;

    
}
.campo8{ 
    display: grid;
    grid-column: 1/3;
    grid-row: 1/1;
    justify-content: center;
}
