* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html { 
    background-color: #080808;
   
}
body {
   
    color: #ecf0f1a9;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

}
p, a {
    color: #ecf0f1a9;
    text-decoration: none;
}

.black_buster{
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    
}

.header_pagina{
    margin: 1rem;
      
}

.contenedor_general{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    
}

.datos-personales,
.metodos-pago{
    position:relative;
    width: 45%;
    padding: 20px;
    box-sizing: border-box;
}

.datos-personales  {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:self-end;
    justify-items:normal;
    padding-right: 100px; 
    
}
 
.metodos-pago{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:self-start;
    justify-items:last baseline;
    padding-right: 100px; 
}

.metodos-pago input,
.datos-personales input{
border-radius: 5px;
}

.metodos-pago input[type="text"]{
width: 15em;
}

.campo_corto input[type= "text"]{
    width: 5em;
}

.campo_mascorto input[type= "text"]{
    width: 3em;
}


.section_botones {
    display: flex;
    justify-content:flex-end;
    margin-top: 20px;
    margin-inline-end: 20em;
}

.section_botones .campo button {
    margin: 50px;

}

.boton_confirmar{
    padding: 10px 20px;
     background-color: #d31818cc;
     border: solid 1px #d31818cc;
     color: #fff;
     font-size: 15px;
     border-radius: 10px;
     transition: background-color 0.3s, color 0.3s; 

     
}

.boton_confirmar:hover{
    background-color: grey;
    color: #080808;
     cursor: pointer;
    
}

.boton_cancelar:hover {
    background-color: grey;
    color: #ffffff; 
     cursor: pointer;
}

.boton_cancelar{
    padding: 10px 20px;
     background-color: #ffffff;
     border: solid 1px #ffffff;
     color: #080808;
     font-size: 15px;
     border-radius: 10px;
     transition: background-color 0.3s, color 0.3s; 
    }

@media screen and (( min-width: 600px)  and (max-width: 900px))  { 

  
}
@media screen and (width <600px){ 

h1{ 
    display: flex;
    justify-content: center;
}
.section.metodos-pago{
    width: 100%;
    height: 100%;
}
.contenedor_general { 
    display: block;
    left: 30%;
 
}
.datos-personales {
    display: grid;
    flex-direction: column;
    justify-content: space-between;
    align-items: self-end;
    justify-items: normal;
    padding-right: 100px;
    left: 30%;
}

.metodos-pago{ 
    display: grid;
    flex-direction: column;
    justify-content: space-between;
    align-items: self-start;
    justify-items: last baseline;
    left: 30%;
}
.boton_confirmar {
    display: grid;
    position: relative;
    left: 100%;
}
.boton_cancelar {
    display: grid;
    position: relative;
    left: 100%;
}
.metodos-pago input[type= "text"]{
    width: 87%;
}
}
