* {
    padding: 0;
    margin: 0;
}

.black_buster {
    color: #fff;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;

}

.gridPrincipal {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 30em;
    grid-template-areas: "usuario datos metodoPago";

}

.usuario {
    grid-area: usuario;
}

.datos {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-area: datos;
    grid-template-areas: "email email"
        "contraseñaUsuario ";
}

.metodoPago {
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-area: metodoPago;
    justify-content: center;

}

.infoUsuario {

    padding: 2em;
}


.xxx {
    width: 2em;
}



.metodosDePago {
    padding: 2em;
    padding-left: 2em;
}

.cuponDePago {
    display: grid;
    grid-template-rows: 50% 50%;

}

.inputNumeroyCodigo {
    padding: 1em;
}

.radioCuponPago {
    padding-top: 3em;
}

.inputNuevayRepetirContraseña {
    padding: 1em;
}

.inputNuevaContraseña {
    /* position: absolute; */
    top: 40%;
}

.inputRepetirContraseña {
    /* position: absolute; */
    top: 55%;
}

.botonGuardarCambios {
    padding: 10px 20px;
    background-color: #d31818cc;
    border: solid 1px #d31818cc;
    color: #fff;
    font-size: 15px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.botonGuardarCambios:hover {
    background-color: grey;
    color: #080808;
    cursor: pointer;
}

.botonCancelarSubcripcion:hover {
    background-color: grey;
    color: #ffffff;
    cursor: pointer;
}

.botonCancelarSubcripcion {
    padding: 10px 20px;
    background-color: #ffffff;
    border: solid 1px #ffffff;
    color: #080808;
    font-size: 15px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
    position: absolute;
    right: 28em;
    bottom: 1em;
}

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}


.botonGuardarCambios {
    position: absolute;
    left: 33em;
    padding: 10px 20px;
    bottom: 1em;
}

.iconoUsuario {
    font-size: 10em
}

.divIconoUsuario {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.nombreUsuario {
    margin-left: 1.5em;
    padding: 2em;
}

@media screen and (max-width: 640px) {

    .gridPrincipal {
        display: flex;
        flex-direction: column;
    }

    .inputNuevaContraseña,
    .inputRepetirContraseña {
        display: flex;
        flex-direction: column;
        position: relative
    }

    .metodoPago {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        position: relative
    }

    .metodosDePago {
        padding: 2em;
        padding-left: 2em;
        position: relative
    }

    .cuponDePago {
        display: flex;
        flex-direction: column;
        position: relative
    }

}



.mensaje {
    position: absolute;
    width: 20em;
    top: 21em;
    left: 26.5em;
    text-align: center;
    margin: auto;
    color: red;

}

.mensajeRepetir {
    position: absolute;
    text-align: center;
    margin: auto;
    color:red;
    bottom: 7.6em;
    left: 27.6em;
}

.mensajeTarjeta {
    color: yellow;

}


.mensajeCorrecto {
    position: absolute;
    left: 27.6em;
    bottom: 7.6em;
    color: green;
}

.mensajeCupon{
    position: absolute;
    bottom: 13em;
}